node_modules/
coverage/
examples/vite/dist/
examples/tree-shake-bitset/dist/
examples/tree-shake-bytes/dist/
examples/tree-shake-endian/dist/
examples/tree-shake-i32-array/dist/
examples/tree-shake-json/dist/
examples/tree-shake-matrix2d/dist/
examples/tree-shake-matrix3d/dist/
examples/tree-shake-rank-select-bitvector/dist/
src/**/*.wasm
